@import "bootstrap";
html,
body,
#app,
#app>div {
    height: 100%;
}

#root {
    height: 100%;
    background-image: url("../../public/bg.jpg");
    background-size: cover;
}

#viewForm {
    background-image: linear-gradient(to bottom right, #f4faff, #f4faff);
    border-radius: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    color: red;
}

.card-body {
    background-image: linear-gradient(to bottom right, white, white);
}

.card {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-header {
    background-image: linear-gradient(to bottom right, #75c3f0, #75c3f0);
}

.navbar {
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}