@import 'bootstrap/dist/css/bootstrap.min.css';
html,
body,
#app,
#app>div {
    height: 100%;
}

#root {
    background-image: url("../../public/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

#viewForm {
    background-image: linear-gradient(to bottom right, #f4faff, #f4faff);
    border-radius: 5px;
}

.nav-link {
    border-radius: 10px;
}

.nav-link.active {
    background-color: #83c5be;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.btn-info {
    outline: none !important;
    border-color: transparent !important;
    background-image: linear-gradient(to bottom right, #83c5be, #83c5be);
}

.btn-primary {
    outline: none !important;
    border-color: transparent !important;
    background-image: linear-gradient(to bottom right, #83c5be, #83c5be);
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.card-body {
    background-image: linear-gradient(to bottom right, white, white);
}

.card {
    outline: none !important;
    border-color: #83c5be !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-header {
    background-image: linear-gradient(to bottom right, #83c5be, #83c5be);
}

.navbar {
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}